<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAS Fat to Slim</title>
</head>
<body>
    <%a.forEach((x)=>{%>

        <h1><%=x.name%></h1>
        <h1><%=x.email%></h1>
        <h1><%=x.phno%></h1>

   <% })%>
    
</body>
</html>